<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="zjc" >
    
    <title>硬件实时监控</title>
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <script src="../static/js/analogClock.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.1/echarts.min.js"></script>
    <script src="../static/echarts-liquidfill/echarts-liquidfill.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
   
</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">硬件实时监控</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            系统监控
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="log.html">
                            日志统计
                        </a>
                    </li>
                </ul>
                <div id="time" class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">当前时间</div>
                        <div class="card-body" id="clock"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">用户信息</div>
                        <div class="card-body">
                            <table class="table table-sm table-bordered">
                                <thead>
                                <tr class="text-primary">
                                    <th class="text-center" colspan="2">
                                        登录用户信息
                                    </th>
                                </tr>
                                </thead>
                                <tbody>                             
                                <tr >
                                    <td class="text-primary">
                                        登录账号：<br>
                                        登录终端：<br>
                                        登录主机：<br>
                                        登录时间：
                                    </td>
                                    <td id="user"></td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h5>系统监控</h5>
            </div>-
            <div class="row">
    <div class="col-md-12" id="monitor_status"></div>
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">CPU信息</div>
            <div class="card-body">
                <div class="row">
                    <!--栅格系统，12，打出2列表，6、6-->
                    <div  class="col-md-6 pad-right">
								 <div  class="border border-white">
										<div id="cpu_avg" style="width: 100%; height: 300px" ></div>				 
												 
								 </div>                 
                    </div>
                    <div class="col-md-6 pad-left">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <th class="text-center" colspan="2">
                                所有CPU使用率
                            </th>
                            </thead>
                            <tbody id="tb_cpu_per">                      
                            <tr>
                                <td class="text-primary" style="width: 30%">
                                </td>
                                <td>
                                    <div class="progress">
                                        
                                    </div>
                                </td>
                            </tr>             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">内存/交换分区信息</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">
									<div id="mem" style="width: 100%; height: 300px" ></div>	                        
                        </div>
                        <table class="table table-sm table-bordered">
                            <tr>
                                <td class="text-primary" style="width: 30%">使用率（%）</td>
                                <td id="mem_percent" class="text-danger"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">总量（GB）</td>
                                <td id="mem_total" class="text-danger"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">使用量（GB）</td>
                                <td id="mem_used" class="text-danger"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">剩余量（GB）</td>
                                <td id="mem_free" class="text-danger"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 pad-left">
                        <div class="border border-white">
                        <div id="swap" style="width: 100%; height: 300px" ></div>	                
                        </div>
                        <table class="table table-sm table-bordered">
                            <tr>
                                <td class="text-primary" style="width: 30%">使用率（%）</td>
                                <td id="swap_percent" class="text-danger"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">总量（GB）</td>
                                <td id="swap_total" class="text-danger"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">使用量（GB）</td>
                                <td id="swap_used" class="text-danger"></td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">剩余量（GB）</td>
                                <td id="swap_free" class="text-danger"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">网络信息</div>
            <div class="card-body">
                <div class="row">
                  
                    <div class="col-md-12">
                        <div class="border border-white">
                        	<div id="net1" style="width: 100%;height: 300px"> </div>   
								                 
                        </div>
                    </div>
                       <div class="col-md-12">
                        <div class="border border-white">
                        	<div id="net2" style="width: 100%;height: 300px"> </div>   
								                 
                        </div>
                    </div>
                  
                    <div class="col-md-12">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr class="text-primary">
                                    <th style="width: 20%">网卡名称</th>
                                    <th style="width: 10%">发送字节</th>
                                    <th style="width: 10%">接收字节</th>
                                    <th style="width: 10%">发送包数</th>
                                    <th style="width: 10%">接收包数</th>
                                    <th style="width: 10%">协议地址族</th>
                                    <th style="width: 10%">IP地址</th>
                                    <th style="width: 10%">子网掩码</th>
                                    <th style="width: 10%">广播地址</th>
                                </tr>
                            </thead>
                            <tbody id="tb_net">                          
                                    <tr>
                                        <td>{{ v['name'] }}</td>
                                        <td class="text-danger">{{ v['bytes_sent'] }}</td>
                                        <td class="text-danger">{{ v['bytes_recv'] }}</td>
                                        <td class="text-danger">{{ v['packets_sent'] }}</td>
                                        <td class="text-danger">{{ v['packets_recv'] }}</td>
                                        <td>{{ v['family'] }}</td>
                                        <td>{{ v['address'] }}</td>
                                        <td>{{ v['netmask'] }}</td>
                                        <td>
                                           
                                        </td>
                                    </tr>
                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">磁盘使用信息</div>
            <div class="card-body">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr class="text-primary">
                            <th style="width: 10%">设备名称</th>
                            <th style="width: 10%">挂载点</th>
                            <th style="width: 10%">文件系统类型</th>
                            <th style="width: 10%">操作选项</th>
                            <th style="width: 10%">总量（GB）</th>
                            <th style="width: 10%">使用量（GB）</th>
                            <th style="width: 10%">剩余量（GB）</th>
                            <th style="width: 30%">使用量（%）</th>
                        </tr>
                    </thead>
                    <tbody id="tb_disk">
                     
                                <td>{{ v['device'] }}</td>
                                <td>{{ v['mountpoint'] }}</td>
                                <td>{{ v['fstype'] }}</td>
                                <td>{{ v['opts'] }}</td>
                                <td class="text-danger">{{ v['used']['total'] }}GB</td>
                                <td class="text-danger">{{ v['used']['used'] }}GB</td>
                                <td class="text-danger">{{ v['used']['free'] }}GB</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated{{ handler.progress_status(v['used']['percent']) }}">
                                           
                                        </div>
                                    </div>
                                </td>
                            </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
        </main>
    </div>
    
</div>

    

<script src="https://cdn.bootcss.com/lazysizes/4.0.2/lazysizes.min.js"></script>
<!--导入sockjs-client-->
<script src="https://cdn.bootcss.com/sockjs-client/1.3.0/sockjs.min.js"></script>
<script src="../static/js/monitor.js"></script>
<script src="../static/js/cpu_liquidFill.js"></script>
<script src="../static/js/mem_gauge.js"></script>
<script src="../static/js/swap_gauge.js"></script>
<script src="../static/js/net_pie.js" ></script>
<script src="../static/js/disk.js" ></script> 







<script>
    AnalogClock("clock", new AnalogClockOption(200, "#eee", "#333"));
</script>

</body>
</html>
